@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap");
@import '../../node_modules/highlight.js/styles/atom-one-dark.css';

// COLOR PALETTE NEW
$background: #cdcbcd;
$primary: #faa916;
$primary-light: #fce0c3;
$secondary: #76b8e5;
$secondary-light: #ddedf8;
$tertiary: #63cfb6;
$light-red: #f5555b;
$font-dark: rgb(74, 74, 74);
$dark-gray: #1b1b1e;
$mid-gray: rgb(51	51	51);
$troveql-font: 'IBM Plex Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, Helvetica, Arial, sans-serif;

